# Global Notebook

In [1]:
import pandas as pd

### DATA CLEANING AND PREPROCESSING

In [2]:
# Read the CSV file into a DataFrame
df_demand = pd.read_csv('../data/demand.csv')
df_link = pd.read_csv('../data/link.csv')
df_node = pd.read_csv('../data/node.csv')
df_google_maps_od_distance = pd.read_csv('../data/google_maps_od_distance.csv')
df_inaccessible_od = pd.read_csv('../data/inaccessible_od.csv')
df_destination_accessibility = pd.read_csv('../data/destination_accessibility.csv')
df_link_performance = pd.read_csv('../data/link_performance.csv')
df_od_performance = pd.read_csv('../data/od_performance.csv')
df_origin_accessibility = pd.read_csv('../data/origin_accessibility.csv')
df_problem_volume_links = pd.read_csv('../data/problem_volume_links.csv')
df_problematic_od_distances = pd.read_csv('../data/problematic_od_distances.csv')
df_route_assignment = pd.read_csv('../data/route_assignment.csv')
df_sample_mode_type = pd.read_csv('../data/sample_mode_type.csv')
df_sample_settings = pd.read_csv('../data/sample_settings.csv')
df_settings = pd.read_csv('../data/settings.csv')
df_system_performance = pd.read_csv('../data/system_performance.csv')
df_TAP_log = pd.read_csv('../data/TAP_log.csv')

In [75]:
df_demand.head()

   o_zone_id  d_zone_id  volume
0          1          2      12
1          1          3       3
2          1          4       5
3          1          5       1
4          1          6       1

We fill have to use the following dataframes:

In [5]:
df_origin_accessibility.head()

,origin_zone_id,total_volume,number_of_destinations,avg_distance_mile,avg_travel_time_min,google_maps_link
0,1,528,108,4.55748,6.91400,https://www.google.com/maps/search/?api=1&quer...
1,2,909,132,3.76632,5.63477,https://www.google.com/maps/search/?api=1&quer...
2,3,788,137,4.55713,9.83272,https://www.google.com/maps/search/?api=1&quer...
3,4,882,136,3.95933,6.63976,https://www.google.com/maps/search/?api=1&quer...
4,5,484,102,3.99077,6.57642,https://www.google.com/maps/search/?api=1&quer...

In [6]:
df_destination_accessibility.head()

,destination_zone_id,total_volume,number_of_origins,avg_distance_mile,avg_travel_time_min,google_maps_link
0,1,149,69,4.13016,7.90730,https://www.google.com/maps/search/?api=1&quer...
1,2,711,172,4.22419,8.11324,https://www.google.com/maps/search/?api=1&quer...
2,3,1395,214,4.83588,11.22250,https://www.google.com/maps/search/?api=1&quer...
3,4,571,166,4.10726,8.11214,https://www.google.com/maps/search/?api=1&quer...
4,5,201,119,5.17715,10.76980,https://www.google.com/maps/search/?api=1&quer...

In [76]:
df_google_maps_od_distance.head()

,route_key,mode,o_zone_id,d_zone_id,volume,total_distance_mile,total_distance_km,straight_line_distance_mile,straight_line_distance_km,distance_ratio,total_free_flow_travel_time,total_congestion_travel_time,google_maps_http_link,WKT_geometry
0,1_2_auto,auto,1,2,12,0.04042,0.065036,0.718948,1.15679,0.056221,0.086835,0.175944,"https://www.google.com/maps/dir/42.996472,-87....","LINESTRING(-87.888534 42.996472,-87.889841 43...."
1,1_7_auto,auto,1,7,11,4.77191,7.678010,4.671170,7.51591,1.021570,7.990380,8.529550,"https://www.google.com/maps/dir/42.996472,-87....","LINESTRING(-87.888534 42.996472,-87.893182 42...."
2,1_16_auto,auto,1,16,15,10.82980,17.425100,8.433930,13.57020,1.284070,14.949600,28.663900,"https://www.google.com/maps/dir/42.996472,-87....","LINESTRING(-87.888534 42.996472,-87.889841 43...."
3,1_40_auto,auto,1,40,13,3.63370,5.846620,3.413920,5.49299,1.064380,3.957010,4.152160,"https://www.google.com/maps/dir/42.996472,-87....","LINESTRING(-87.888534 42.996472,-87.889841 43...."
4,1_41_auto,auto,1,41,21,4.94617,7.958390,3.538140,5.69286,1.397960,5.681410,7.602490,"https://www.google.com/maps/dir/42.996472,-87....","LINESTRING(-87.888534 42.996472,-87.889841 43...."

Eventual problems:

In [77]:
df_inaccessible_od.head()

,mode_type,origin_zone_id,destination_zone_id,google_maps_http_link
0,auto,1,36,"https://www.google.com/maps/dir/42.996472,-87...."
1,auto,1,107,"https://www.google.com/maps/dir/42.996472,-87...."
2,auto,1,108,"https://www.google.com/maps/dir/42.996472,-87...."
3,auto,1,112,"https://www.google.com/maps/dir/42.996472,-87...."
4,auto,1,137,"https://www.google.com/maps/dir/42.996472,-87...."

In [78]:
df_problematic_od_distances.head()

,o_zone_id,d_zone_id,total_distance_km,straight_line_distance_mile,straight_line_distance_km,distance_ratio,mile_km_ratio
0,175,208,0.005519,1.144220,1.84105,0.002998,1.609000
1,208,175,0.008008,1.144220,1.84105,0.004350,1.609000
2,78,7,0.016176,1.265220,2.03574,0.007946,1.609001
3,7,78,0.016176,1.265220,2.03574,0.007946,1.609001
4,6,104,0.011168,0.783876,1.26126,0.008854,1.609004

Cleaning:

In [4]:
# check if a google link is in df_inaccessible_od from df_destination_accessibility and df_origin_accessibility

for i in range(len(df_origin_accessibility)):
    check = df_origin_accessibility['google_maps_link'][i]
    for link in df_inaccessible_od['google_maps_http_link']:
        if check == link:
            print("Found")
        
for i in range(len(df_destination_accessibility)):
    check = df_destination_accessibility['google_maps_link'][i]
    for link in df_inaccessible_od['google_maps_http_link']:
        if check == link:
            print("Found")

for i in range(len(df_google_maps_od_distance)):
    check = df_google_maps_od_distance['google_maps_http_link'][i]
    for link in df_inaccessible_od['google_maps_http_link']:
        if check == link:
            print("Found")       

# clean the problematic distances from google maps od distances

problematic_distances = 0

for i in range(len(df_problematic_od_distances)):
    o = df_problematic_od_distances['o_zone_id'][i]
    d = df_problematic_od_distances['d_zone_id'][i]
    for trips in df_google_maps_od_distance.itertuples():
        if o == trips.o_zone_id and d == trips.d_zone_id:
            problematic_distances += 1
            df_google_maps_od_distance = df_google_maps_od_distance.drop(trips.Index)
        
print(f'{problematic_distances} trips have been removed from google maps od distances')

570 trips have been removed from google maps od distances

We will also need to use these dataframes :

In [81]:
df_link.head()

,link_id,from_node_id,to_node_id,dir_flag,length,vdf_length_mi,free_speed,vdf_free_speed_mph,vdf_fftt,vdf_toll,link_type,vdf_alpha,vdf_beta,vdf_plf,lanes,capacity,ref_volume,obs_volume,geometry
0,25311,1,1185,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...
1,25578,1,1186,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...
2,25313,1,1187,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...
3,25580,1,1427,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...
4,25582,1,1428,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...

In [82]:
df_link_performance.head()

,iteration_no,link_id,from_node_id,to_node_id,volume,ref_volume,base_demand_volume,obs_volume,background_volume,link_capacity,...,spd_mph_07:15,spd_mph_07:20,spd_mph_07:25,spd_mph_07:30,spd_mph_07:35,spd_mph_07:40,spd_mph_07:45,spd_mph_07:50,spd_mph_07:55,Unnamed: 61
0,1,1,1,1185,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN
1,1,2,1,1186,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN
2,1,3,1,1187,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN
3,1,4,1,1427,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN
4,1,5,1,1428,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN

Eventual problems:

In [83]:
df_problem_volume_links.head()

,iteration_no,link_id,from_node_id,to_node_id,volume,ref_volume,base_demand_volume,obs_volume,background_volume,link_capacity,...,spd_mph_07:20,spd_mph_07:25,spd_mph_07:30,spd_mph_07:35,spd_mph_07:40,spd_mph_07:45,spd_mph_07:50,spd_mph_07:55,Unnamed: 61,diff_pct
0,1,24284,6003,6000,615.0,0.0001,0.0,0.0,0.0,1400.0,...,24.029,21.718,20.754,21.718,24.029,25.223,26.136,27.049,NaN,614999900.0
1,1,24282,6002,7277,615.0,0.0001,0.0,0.0,0.0,1400.0,...,24.029,21.718,20.754,21.718,24.029,25.223,26.136,27.049,NaN,614999900.0
2,1,24277,6000,6002,615.0,0.0001,0.0,0.0,0.0,1400.0,...,24.029,21.718,20.754,21.718,24.029,25.223,26.136,27.049,NaN,614999900.0
3,1,28365,7613,3807,615.0,0.0001,0.0,0.0,0.0,1400.0,...,24.029,21.718,20.754,21.718,24.029,25.223,26.136,27.049,NaN,614999900.0
4,1,18746,3807,3815,615.0,0.0001,0.0,0.0,0.0,1400.0,...,24.029,21.718,20.754,21.718,24.029,25.223,26.136,27.049,NaN,614999900.0

Cleaning: