# Global Notebook
- base to plot the network

In [1]:
import pandas as pd

In [5]:
# Read the CSV file into a DataFrame
df_demand = pd.read_csv('../data/demand.csv')
df_link = pd.read_csv('../data/link.csv')
df_node = pd.read_csv('../data/node.csv')
df_google_maps_od_distance = pd.read_csv('../data/google_maps_od_distance.csv')
df_inaccessible_od = pd.read_csv('../data/inaccessible_od.csv')
df_destination_accessibility = pd.read_csv('../data/destination_accessibility.csv')
df_link_performance = pd.read_csv('../data/link_performance.csv')
df_od_performance = pd.read_csv('../data/od_performance.csv')
df_origin_accessibility = pd.read_csv('../data/origin_accessibility.csv')
df_problem_volume_links = pd.read_csv('../data/problem_volume_links.csv')
df_problematic_od_distances = pd.read_csv('../data/problematic_od_distances.csv')
df_route_assignment = pd.read_csv('../data/route_assignment.csv')
df_sample_mode_type = pd.read_csv('../data/sample_mode_type.csv')
df_sample_settings = pd.read_csv('../data/sample_settings.csv')
df_settings = pd.read_csv('../data/settings.csv')
df_system_performance = pd.read_csv('../data/system_performance.csv')
df_TAP_log = pd.read_csv('../data/TAP_log.csv')

In [3]:
df_demand

       o_zone_id  d_zone_id  volume
0              1          2      12
1              1          3       3
2              1          4       5
3              1          5       1
4              1          6       1
...          ...        ...     ...
30417        234        223       1
30418        234        227       3
30419        234        228       1
30420        234        231       5
30421        234        233       5

[30422 rows x 3 columns]