# Preprocessing Notebook

In [64]:
import pandas as pd
import os

### DATA CLEANING AND PREPROCESSING

In [65]:
# uncomment if it's the first time running the notebook
'''
%run ../src/Network_Validator_Main.py
'''

'\n%run ../src/Network_Validator_Main.py\n'

In [66]:
# Read the CSV file into a DataFrame
df_demand = pd.read_csv('../data/demand.csv')
df_link = pd.read_csv('../data/link.csv')
df_node = pd.read_csv('../data/node.csv')
df_google_maps_od_distance = pd.read_csv('../data/google_maps_od_distance.csv')
df_inaccessible_od = pd.read_csv('../data/inaccessible_od.csv')
df_destination_accessibility = pd.read_csv('../data/destination_accessibility.csv')
df_link_performance = pd.read_csv('../data/link_performance.csv')
df_od_performance = pd.read_csv('../data/od_performance.csv')
df_origin_accessibility = pd.read_csv('../data/origin_accessibility.csv')
df_problem_volume_links = pd.read_csv('../data/problem_volume_links.csv')
df_problematic_od_distances = pd.read_csv('../data/problematic_od_distances.csv')
df_route_assignment = pd.read_csv('../data/route_assignment.csv')
df_sample_mode_type = pd.read_csv('../data/sample_mode_type.csv')
df_sample_settings = pd.read_csv('../data/sample_settings.csv')
df_settings = pd.read_csv('../data/settings.csv')
df_system_performance = pd.read_csv('../data/system_performance.csv')
df_TAP_log = pd.read_csv('../data/TAP_log.csv')

Dataframes we need to export for the analysis network notebook : 

df_node (no problematic clean)

df_link (cleaning needed)

df_demand (no problematic clean)

df_origin_accessibility (checked for problems)

df_destination_accessibility (checked for problems)

df_link_performance (cleaning needed)

df_od_performance (cleaning needed)

df_system_performance (no clean)

In [67]:
df_demand.head()

   o_zone_id  d_zone_id  volume
0          1          2      12
1          1          3       3
2          1          4       5
3          1          5       1
4          1          6       1

In [68]:
df_node.head()

,node_id,zone_id,x_coord,y_coord,geometry
0,1,1.0,-87.888534,42.996472,POINT (-87.88853371142858 42.99647218857143)
1,2,2.0,-87.897396,43.004612,POINT (-87.89739580689655 43.00461247356321)
2,3,3.0,-87.941012,42.986585,POINT (-87.941011752 42.986585192)
3,4,4.0,-87.905384,42.998823,POINT (-87.90538432250001 42.99882289)
4,5,5.0,-87.905679,42.992777,POINT (-87.90567903913043 42.992776747826085)

We fill have to use the following dataframes:

In [69]:
df_origin_accessibility.head()

,origin_zone_id,total_volume,number_of_destinations,avg_distance_mile,avg_travel_time_min,google_maps_link
0,1,528,108,4.55748,8.68427,https://www.google.com/maps/search/?api=1&quer...
1,2,909,132,3.76632,6.83655,https://www.google.com/maps/search/?api=1&quer...
2,3,788,137,4.55713,15.02790,https://www.google.com/maps/search/?api=1&quer...
3,4,882,136,3.95933,8.43708,https://www.google.com/maps/search/?api=1&quer...
4,5,484,102,3.99077,8.58097,https://www.google.com/maps/search/?api=1&quer...

In [70]:
df_destination_accessibility.head()

,destination_zone_id,total_volume,number_of_origins,avg_distance_mile,avg_travel_time_min,google_maps_link
0,1,149,69,4.13016,10.9601,https://www.google.com/maps/search/?api=1&quer...
1,2,711,172,4.22419,11.9003,https://www.google.com/maps/search/?api=1&quer...
2,3,1395,214,4.83588,18.0281,https://www.google.com/maps/search/?api=1&quer...
3,4,571,166,4.10726,12.1476,https://www.google.com/maps/search/?api=1&quer...
4,5,201,119,5.17715,17.0495,https://www.google.com/maps/search/?api=1&quer...

In [71]:
df_od_performance.head()

,route_key,mode,o_zone_id,d_zone_id,o_x_coord,o_y_coord,d_x_coord,d_y_coord,total_distance_mile,total_distance_km,straight_line_distance_mile,straight_line_distance_km,distance_ratio,total_free_flow_travel_time,total_congestion_travel_time,volume,WKT_geometry
0,1_2_auto,auto,1,2,-87.8885,42.9965,-87.8974,43.0046,0.040420,0.065036,0.718948,1.15679,0.056221,0.086835,0.338873,12,"LINESTRING(-87.888534 42.996472,-87.889841 43...."
1,1_3_auto,auto,1,3,-87.8885,42.9965,-87.9410,42.9866,2.826240,4.547420,2.738760,4.40667,1.031940,6.067040,7.001950,3,"LINESTRING(-87.888534 42.996472,-87.893182 42...."
2,1_4_auto,auto,1,4,-87.8885,42.9965,-87.9054,42.9988,0.181658,0.292288,0.866883,1.39481,0.209553,0.390097,0.430026,5,"LINESTRING(-87.888534 42.996472,-87.894637 42...."
3,1_5_auto,auto,1,5,-87.8885,42.9965,-87.9057,42.9928,0.908519,1.461810,0.903305,1.45342,1.005770,1.950390,2.123920,1,"LINESTRING(-87.888534 42.996472,-87.893182 42...."
4,1_6_auto,auto,1,6,-87.8885,42.9965,-87.8925,42.9793,0.998401,1.606430,1.202060,1.93412,0.830573,2.143320,2.239520,1,"LINESTRING(-87.888534 42.996472,-87.893182 42...."

Eventual problems:

In [72]:
df_inaccessible_od.head()

,mode_type,origin_zone_id,destination_zone_id,google_maps_http_link
0,auto,1,36,"https://www.google.com/maps/dir/42.996472,-87...."
1,auto,1,107,"https://www.google.com/maps/dir/42.996472,-87...."
2,auto,1,108,"https://www.google.com/maps/dir/42.996472,-87...."
3,auto,1,112,"https://www.google.com/maps/dir/42.996472,-87...."
4,auto,1,137,"https://www.google.com/maps/dir/42.996472,-87...."

In [73]:
df_problematic_od_distances.head()

,o_zone_id,d_zone_id,total_distance_km,straight_line_distance_mile,straight_line_distance_km,distance_ratio,mile_km_ratio
0,175,208,0.005519,1.144220,1.84105,0.002998,1.609000
1,208,175,0.008008,1.144220,1.84105,0.004350,1.609000
2,78,7,0.016176,1.265220,2.03574,0.007946,1.609001
3,7,78,0.016176,1.265220,2.03574,0.007946,1.609001
4,6,104,0.011168,0.783876,1.26126,0.008854,1.609004

Cleaning:

In [74]:
# check if a google link is in df_inaccessible_od from df_destination_accessibility and df_origin_accessibility

for i in range(len(df_origin_accessibility)):
    check = df_origin_accessibility['google_maps_link'][i]
    for link in df_inaccessible_od['google_maps_http_link']:
        if check == link:
            print("Found")
        
for i in range(len(df_destination_accessibility)):
    check = df_destination_accessibility['google_maps_link'][i]
    for link in df_inaccessible_od['google_maps_http_link']:
        if check == link:
            print("Found")

for i in range(len(df_google_maps_od_distance)):
    check = df_google_maps_od_distance['google_maps_http_link'][i]
    for link in df_inaccessible_od['google_maps_http_link']:
        if check == link:
            print("Found")       



# clean the problematic distances from google maps od distances

# Nombre de lignes avant filtrage
n_before = len(df_google_maps_od_distance)

# Création des paires OD problématiques
problematic_pairs = set(
    zip(
        df_problematic_od_distances['o_zone_id'],
        df_problematic_od_distances['d_zone_id']
    )
)

# Création du mask
mask = ~df_google_maps_od_distance[['o_zone_id', 'd_zone_id']].apply(
    tuple, axis=1
).isin(problematic_pairs)

# Application du filtre
df_google_maps_od_distance_clean = df_google_maps_od_distance[mask]

# Nombre de lignes après filtrage
n_after = len(df_google_maps_od_distance_clean)

# Affichage
print(f"{n_before - n_after} trips have been removed from google maps od distances")
print(f"{n_after} trips remaining in google maps od distances")




# to clean od performance from problematic distances (46 mins), to uncomment

problematic_pairs = set(
    zip(
        df_problematic_od_distances['o_zone_id'],
        df_problematic_od_distances['d_zone_id']
    )
)

mask = ~df_od_performance[['o_zone_id', 'd_zone_id']].apply(
    tuple, axis=1
).isin(problematic_pairs)

df_od_performance_clean = df_od_performance[mask]

n_before = len(df_od_performance)

df_od_performance_clean = df_od_performance[mask]

n_after = len(df_od_performance_clean)

print(f"{n_before - n_after} trips have been removed from od performance")
print(f"{n_after} trips remaining in od performance")

570 trips have been removed from google maps od distances
2756 trips remaining in google maps od distances
3015 trips have been removed from od performance
26016 trips remaining in od performance

In [75]:
len(df_od_performance_clean)

26016

We will also need to use these dataframes :

In [76]:
df_link.head()

,link_id,from_node_id,to_node_id,dir_flag,length,vdf_length_mi,free_speed,vdf_free_speed_mph,vdf_fftt,vdf_toll,link_type,vdf_alpha,vdf_beta,vdf_plf,lanes,capacity,ref_volume,obs_volume,geometry
0,25311,1,1185,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...
1,25578,1,1186,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...
2,25313,1,1187,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...
3,25580,1,1427,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...
4,25582,1,1428,1,0.0,0.0,15,9.320568,0.0,0,0,0.5,1.5,1,1,99999,0.0,0,LINESTRING (-87.88853371142858 42.996472188571...

In [77]:
df_link_performance.head()

,iteration_no,link_id,from_node_id,to_node_id,volume,ref_volume,base_demand_volume,obs_volume,background_volume,link_capacity,...,spd_mph_07:15,spd_mph_07:20,spd_mph_07:25,spd_mph_07:30,spd_mph_07:35,spd_mph_07:40,spd_mph_07:45,spd_mph_07:50,spd_mph_07:55,Unnamed: 61
0,1,1,1,1185,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN
1,1,2,1,1186,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN
2,1,3,1,1187,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN
3,1,4,1,1427,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN
4,1,5,1,1428,0.0,0.0,0.0,0.0,0.0,99999.0,...,9.321,9.321,9.321,-nan(ind),9.321,9.321,9.321,9.321,9.321,NaN

Eventual problems:

In [78]:
df_problem_volume_links.head()

,iteration_no,link_id,from_node_id,to_node_id,volume,ref_volume,base_demand_volume,obs_volume,background_volume,link_capacity,...,spd_mph_07:20,spd_mph_07:25,spd_mph_07:30,spd_mph_07:35,spd_mph_07:40,spd_mph_07:45,spd_mph_07:50,spd_mph_07:55,Unnamed: 61,diff_pct
0,1,27476,7277,7278,1230.0,0.0001,0.0,0.0,0.0,1400.0,...,18.852,18.189,17.961,18.189,18.852,19.869,21.008,21.773,NaN,1.230000e+09
1,1,18746,3807,3815,1230.0,0.0001,0.0,0.0,0.0,1400.0,...,18.852,18.189,17.961,18.189,18.852,19.869,21.008,21.773,NaN,1.230000e+09
2,1,24282,6002,7277,1230.0,0.0001,0.0,0.0,0.0,1400.0,...,18.852,18.189,17.961,18.189,18.852,19.869,21.008,21.773,NaN,1.230000e+09
3,1,24277,6000,6002,1230.0,0.0001,0.0,0.0,0.0,1400.0,...,18.852,18.189,17.961,18.189,18.852,19.869,21.008,21.773,NaN,1.230000e+09
4,1,28365,7613,3807,1230.0,0.0001,0.0,0.0,0.0,1400.0,...,18.852,18.189,17.961,18.189,18.852,19.869,21.008,21.773,NaN,1.230000e+09

In [79]:
len(df_problem_volume_links)

3016

Cleaning:

In [80]:
len_link_before = len(df_link)

for links in df_problem_volume_links.itertuples():
    df_link_performance = df_link_performance.drop(links.Index)
    df_link = df_link.drop(links.Index)
    
print(f'We have removed {len_link_before - len(df_link)} problematic links from link and link performance dataframes')

We have removed 3016 problematic links from link and link performance dataframes

In [81]:
# A link is a connector if it has length 0, time 0, or specific link_type (e.g., 0)
is_connector = (df_link['length'] <= 0) | (df_link['vdf_fftt'] <= 0) | (df_link['link_type'] == 0)

print(f"Total links: {len(df_link)}")
print(f"Identified connectors: {is_connector.sum()}")
print(f"Identified real roads: {(~is_connector).sum()}")


# Parameter Configuration for CONNECTORS
# Connectors must be "transparent": minimum time, no congestion
df_link.loc[is_connector, 'vdf_fftt'] = 0.1    # 6 seconds fixed time
df_link.loc[is_connector, 'length'] = 0.1      # Minimum distance
df_link.loc[is_connector, 'capacity'] = 99999  # Virtually infinite capacity
df_link.loc[is_connector, 'vdf_alpha'] = 0.0   # No time increase with volume
df_link.loc[is_connector, 'vdf_beta'] = 1.0

# Parameter Configuration for REAL ROADS
# Apply standard BPR parameters to model congestion
real_roads = ~is_connector
df_link.loc[real_roads, 'vdf_alpha'] = df_link.loc[real_roads, 'vdf_alpha'].fillna(0.15)
df_link.loc[real_roads, 'vdf_beta'] = df_link.loc[real_roads, 'vdf_beta'].fillna(4.0)

# Filling missing capacities with median (excluding 99999 from connectors)
median_cap = df_link.loc[real_roads & (df_link['capacity'] < 90000), 'capacity'].median()
df_link.loc[real_roads, 'capacity'] = df_link.loc[real_roads, 'capacity'].fillna(median_cap)

# Node and Demand Alignment (Integer Casting)
# Transform zone_id to integer for perfect matching with demand
df_node['zone_id'] = pd.to_numeric(df_node['zone_id'], errors='coerce')

# Create a cleaned version of nodes for export
nodes_cleaned = df_node.copy()
# Handle NaNs before casting
nodes_cleaned['zone_id'] = nodes_cleaned['zone_id'].fillna(-1).astype(int)

# Filter demand keeping only valid zones
valid_zones = nodes_cleaned[nodes_cleaned['zone_id'] > 0]['zone_id'].unique()
demand_cleaned = df_demand[df_demand['o_zone_id'].isin(valid_zones) & df_demand['d_zone_id'].isin(valid_zones)].copy()

Total links: 27731
Identified connectors: 13558
Identified real roads: 14173

In [ ]:
os.makedirs('../data_preprocessed', exist_ok=True)
nodes_cleaned.to_csv('../data_preprocessed/node.csv', index=False)
df_link.to_csv('../data_preprocessed/link.csv', index=False)
demand_cleaned.to_csv('../data_preprocessed/demand.csv', index=False)
df_origin_accessibility.to_csv('../data_preprocessed/origin_accessibility.csv', index=False)
df_destination_accessibility.to_csv('../data_preprocessed/destination_accessibility.csv', index=False)
df_link_performance.to_csv('../data_preprocessed/link_performance.csv', index=False)
df_od_performance_clean.to_csv('../data_preprocessed/od_performance.csv', index=False)
df_system_performance.to_csv('../data_preprocessed/system_performance.csv', index=False)